@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

#preloader {
    position: fixed;
    background-color: green;
    z-index: 999;
    width: 100%;
    height: 100%;
}

#preloader i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

nav {
    padding-left: 50px;
    padding-right: 50px;
}

nav .brand-logo img {
    width: 140px;
}

nav .right i {
    font-size: 2.0rem;
    height: auto;
}

@media screen and (max-width:600px) {
    nav {
        padding-left: 10px;
        padding-right: 10px;
    }
    nav .brand-logo img {
        width: 120px;
    }
    nav .right i {
        font-size: 1.5rem;
        padding-top: 16px;
        height: auto;
    }
}

.form {
    padding: 2.0rem;
    min-height: 100vh;
}

select {
    background-color: white;
    color: #212121;
    font-family: inherit;
    line-height: normal;
    padding: 0.0625rem;
    border-radius: 0;
    height: 2.8125rem;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 300;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .3125rem;
    box-shadow: 0 1px 5px 1px #008f4a;
    font-size: 1.225rem;
    border: none;
}

.inputMil {
    background-color: white;
    color: #212121;
    font-family: inherit;
    line-height: normal;
    padding: 0.0625rem;
    padding-left: 0.3rem;
    height: 2.8125rem;
    border: grey solid 1px;
    border-radius: 3px;
    font-weight: 300;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: .3125rem;
    box-shadow: 0 1px 5px 1px #008f4a;
    font-size: 1.225rem;
    /* border: none; */
    width: 100%;
    outline: 0;
}

label {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    position: relative;
    letter-spacing: 0.05rem
}